body {
    font-family: 'Chewy', cursive;
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;       
    background-size: cover;             
    background-position: center center; 
    margin: 0;
    padding: 0;
    color: #4b3262;
}
.tit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tit img{
    width:50px;
    gap: 10px;
}

.img1{
    margin-right: 15px;
}
.img2{
    margin-left: 15px;
}

h2 {
    text-align: center;
    color: #6a4c93;
    text-shadow: 1px 10px 2px #e7bfe7;
}

.todo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
}

/* Productos */
.productos {
    outline: 5px solid rgb(160, 72, 231);
    width: 600px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    overflow-y: auto;
    border-radius: 5px;
    padding: 15px;
    background-color: rgba(247, 232, 255, 0.9);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /* Scrollbar personalizada */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #9b68dd #f6efff; /* Firefox */
}

/* Scrollbar para Webkit (Chrome, Edge, Safari) */


.productos::-webkit-scrollbar-track {
    background: #f6efff;
    border-radius: 10px;
}




.producto {
    background-color: #e5bdff;
    border: none;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 2px 6px rgba(106, 76, 147, 0.2);
    transition: transform 0.2s;
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    width: 100px;
    height: auto;
}

/* Panel derecho */
.derecha {  
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 194, 245);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.cash {
    width: 100px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border: 2px solid #7d3c98;
    border-radius: 10px;
}

#pantalla {
    width: 50%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid #7d3c98;
    border-radius: 10px;
}

.teclado {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    gap: 12px;
    justify-content: center;
}
.dinero {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;     
    gap: 10px;
}

.tecla, .enter, .pagar, .ver {
    padding: 12px;
    font-size: 18px;
    border: 3px solid #7d3c98;
    border-radius: 12px;
    background-color: #e9d3fd;
    color: #7000d8;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(106, 76, 147, 0.2);
}
.enter{
    width: 100px;
}
.tecla:hover {
    background-color: #cba2ff;
    transform: scale(1.05);
}
.ver:hover {
    background-color: #cba2ff;
    transform: scale(1.05);
}

.control {
    background-color: #e0c3fc;
}

.control:hover {
    background-color: #d1a7fa;
}



.admin img{
    width: 50px;
}